$color-white: #ffffff;
$color-background-black: #141b1c;
$color-card-basic: #5bb189;
$color-card-business: #3a6ba5;
$color-card-webshop: #ec632a;
$color-card-odd-list: #2a3438;
$color-badge: #dc3f45;
$color-price-card-background: #334247;
